@media screen and (max-width: 568px){
    .pizzacont {
        display: flex;
        flex-direction: column;
    }
    

    .nav {
        display: flex;
        flex-direction: column;
    }

    .orderpage{
        display:flex;
        flex-wrap:wrap;
    }

    .pizza > img {
        margin: auto;
    }
}