@media screen and (max-width: 568px){
    .pizzacont {
        display: block;
    }
    .pizza {
        width:100%;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .orderpage{
        display:flex;
        flex-wrap:wrap;
    }
}