/* Author: Reginald Cole */
/* Color codes: #C03221 Orange #f7f7FF Ghost White #f2D0a4 Sunset */
/* General Styling */
.container {
    margin: auto;
    background-color: #C03221;
    
}

h3{
    text-align: center;
}

body{
    background-color: #f2d0a4;
}

/* Nav Styles */
.nav {
    background-color: black;
}

.nav a {
    display: inline-flex;
    color:white;
    text-align: center;
    flex-direction:column;
    flex-wrap: wrap;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color: #f2D0a4;
    color:black;
}

/* Menu Styles */
.pizzacont {
    display: flex;
    flex-wrap: wrap;
}

.pizza {
    margin: 10px;
}

/* Order Page Styles */
.orderpage {
    display:flex;
    justify-content: space-around;
}

#banner {
width: 100%;
}
